.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #e94949;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  flex: 6;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}
