.button {
  width: 100%;
  background-color: salmon;
  margin: 8px 0;
  height: 30px;
  border: none;
}

.button:hover,
.button:active,
.button:focus,
.button:visited,
.button:link {
  border: none;
}
